<a href="https://colab.research.google.com/github/acwimbley/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [40]:
# Determine the number of unique values in each column
unique_value_counts = application_df.nunique()

# Display the number of unique values for each column
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display value counts for APPLICATION_TYPE
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_gt1 = classification_counts[classification_counts > 1]
classification_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [45]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff_value =1000

classifications_to_replace = classification_counts[classification_counts < class_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_encoded = pd.get_dummies(application_df)


application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [47]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [48]:
#Used to get the column count
dim=X_train.shape[1]
dim

43

In [49]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [50]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer

nn_model.add(tf.keras.layers.Dense(units = 80, activation='relu', input_dim = dim))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units = 30, activation='tanh'))


# Output layer
nn_model.add(tf.keras.layers.Dense(units = 1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 80)                3520

 dense_14 (Dense)            (None, 30)                2430

 dense_15 (Dense)            (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [51]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5691 - accuracy: 0.7193
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7272
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7282
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7310
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7310
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7333
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7332
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7341
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7334
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7351
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7363
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7343
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7347
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7368
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7373
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7372
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7372
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5392 - accuracy: 0.7355
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7369
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7374
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7373
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7371
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7380
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7382
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7378

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5563 - accuracy: 0.7298 - 515ms/epoch - 2ms/step
Loss: 0.5563316345214844, Accuracy: 0.7297959327697754

In [54]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_Optimization3.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(